.dark-theme {
  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: rgba(41, 40, 38, 0.8);
  --bg-modal: var(--bg-container);
  --bg-modal-control: var(--bg-page);

  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;
}
